<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
     
<div *ngIf="dish">
<mat-card fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image height="500px" width="100px" src="{{BaseUrl + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
</div>
<div [hidden]="dish">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>

<div *ngIf="promotion" >
<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image height="500px" width="100px" src="{{BaseUrl + promotion.image}}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
</div>
<div [hidden]="promotion">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>

<div *ngIf="lead">
<mat-card *ngIf="lead" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{lead.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image height="500px" width="100px" src="{{BaseUrl + lead.image}}" alt={{lead.name}}>
  <mat-card-content>
    <p>{{lead.description}}
    </p>
  </mat-card-content>
</mat-card>
</div>

<div [hidden]="lead">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>
</div>